<div class='sideBar floatLeft fixed'
[@sideMenuAnime]='openClose'
>

<img src="assets/img/LogoENSAK.png" >
  <a class="active" href="#home">Acceuil</a>
  <a href="#Contact">Contact</a>
  <a href="#Apropost">Apropos</a>
  <a href="#Apropos">News</a>
  <a href="#Apropos">Sidbar</a>
  <a href="#Apropos">Sidbar</a>
  <a href="#about">About</a>
</div>
<div class="mainContainer floatLeft " 
[@maincontainerAnime]='openClose'
>  
  <button (click)='hideandshow()' id="button_1"><img src="assets/img/hide.png" ></button>

</div> 